*{
    margin: 0;
    padding: 0;
    color: goldenrod;
}

body{
    background-image: url("../Pictures/autumn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black; 
}

h1{
    width: 50%;
    display: inline;
    color: orange;
    font-size: 50px;
}

h2{
    font-size: 50px;
    margin: 50px 10px;
}

p{
    font-size: 20px;
    margin: 10px;
}

#graph_board{
    position: absolute;
    height: 250px;
    width: 100%;
    min-width: 600px;
    background-image: url("../Pictures/graph_board.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    z-index: 20;
    transition: 1.5s;
}

#game_head{
    position: relative;
    text-align: center;
    width: 600px;
    margin: 120px auto;
}

#record{
    position:absolute;
    top: 0;
    left: 0;
    text-align:center;
    padding-top: 5px;
    background-color: rgba(0,0,0,0.8);
    color: red;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 80px;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    transition: 0.5s;
}

#record_value{
    color: red;
}

#counter{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 80px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0,0,0,0.8);
    color: red;
    transition: 0.5s;
    opacity: 0;
}
#counter-text{
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: Bold;
    color: red;
    margin: 0 auto;
    transition: 0.5s;
    border-radius: 0 0 15px 15px;
}

#clicks{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    transition: 0.5s;
    margin: 0 auto;
}

#board{
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 600px;
    width: 600px;
    margin: 80px auto 0px;
}

#play_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    height: 480px;
    margin: auto;
    padding-top: 20px;

}

#cover_left, #cover_right{
    position:absolute;
    bottom: 0;
    background-color:saddlebrown;
    width: 51%;
    height: 100%;
    transition: 1s;
}

#cover_left{
    left: 0;
    z-index: 12;
}

#cover_right{
    right: 0;
    z-index: 10;
}

.square1, .square2, .square3, .square4 {
    height: 80px;
    width: 80px;
    background-size:cover;
}

.square1{
    background-image: url("../Pictures/blue_square_1.png");
}

.square2{
    background-image: url("../Pictures/blue_square_4.png");
}

.square3{
    background-image: url("../Pictures/blue_square_2.png");
}

.square4{
    background-image: url("../Pictures/blue_square_5.png");
}

#menu{
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.button{
    cursor:default;
    display:inline;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: darkorange;
    font-weight: bold;
    text-align: center;
    background-color: rgb(74, 42, 31);
    border: 3px solid rgb(81, 47, 7);
    margin: 30px 5px;
    padding: 5px;
    transition: 0.5s;
    border-radius: 10px;
}

#start_button{
    box-sizing: border-box;
    width: 100%;
    z-index: 15;
    font-size: 50px;
    display: block;
    margin: 0;
}

#instructions{
    position:absolute;
    width: 80%;
    top: 130px;
    z-index: 15;
}

#instructions p{
    font-size: 20px;
    margin: auto 20px;
    text-align: justify;
    padding: 20px 0;
}

#instructions span{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

#exit_instructions{
    color: darkorange;
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 3px 3px 20px auto;
    font-size: 20px;
    background-color: rgb(74, 42, 31);
    padding: 5px;
    cursor: pointer;
    border: 2px solid rgb(81 47 7);
    transition: 0.1s;

}

#win_screen{
    height: 500px;
    width: 500px;
    text-align: center;
}

@media screen and (max-width: 500px){

    #graph_board{
        min-width: 300px;
    }

    .square1, .square2, .square3, .square4 {
        width: 40px;
        height: 40px;
    }

    #play_area{
        width: 240px;
        height: 240px;
        padding-top: 10px;
    }

    #board{
        height: 300px;
        width: 300px;
    }

    #game_head{
        width: 300px;
    }

    #instructions{
        top: 80px;
    }

    h1{
        font-size: 30px;
    }

    #instructions p{
        font-size: 10px;
    }

    #instructions span{
        font-size: 16px;
    }

    .button {
        font-size: 10px;
    }

    #start_button{
        font-size: 25px;
        top: 210px;
        width: 80%;
        margin: auto;
    }

    #exit_instructions{
        padding: 0;
        font-size: 15px;
        height: 15px;
        width: 15px;
        margin: 3px 3px 10px auto;
    }

    #counter{
        width: 50px;
    }
    
}